<body id="page-top">

  	<div class="container">
      <div class="row">
        <div class="col-md-6">
            <img class="img-fluid logo-fix mb-5 d-block mx-auto" src="assets/img/profile.png" alt="">
        </div>
      </div>
    </div>

    <!-- Header -->
    <header class="masthead bg-food text-white text-center" style="min-height:750px;">
      <div class="container">




        <div class="row mb-5" style="margin-left:250px;">
          <div class="col-md-4">
              <p class="text-left"> I'M IN THE MOOD FOR... </p>
              <div class="form-group">
                <input type="text" class="form-control screen-inputs" value="Colombo">
              </div>
          </div>
          <div class="col-md-4">
              <p class="text-left">MY POSTCODE IS... </p>
              <div class="form-group">
                <input type="text" class="form-control screen-inputs">
              </div>
          </div>
          <div class="col-md-4">
            <p>&nbsp;</p>
              <div class="form-group">
                <input type="submit" value="Complete Your Order" class="submit-screen-inputs">
                </div>
          </div>
        </div>


      </div>
    </header>
 <!-- Start list of food -->

<!-- Start secondLine -->

<div class="section mcb-section full-width  " style="padding-top:0px; padding-bottom:0px;">
  <div class="section_wrapper mcb-section-inner"><div class="wrap mcb-wrap one  valign-top clearfix" style="">
    <div class="mcb-wrap-inner"><div class="column mcb-column one column_fancy_divider ">
      <div class="fancy-divider">
        <svg preserveAspectRatio="none" viewBox="0 0 100 100" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" style="background: #D32512;"><path d="M0 0 C50 100 50 100 100 0 Z" style="fill: #1c0807;stroke: #1c0807;"></path>
        </svg>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- Start third step -->

<div class="section mcb-section dark " style="padding-top:120px; padding-bottom:60px; background-color:#36261d; background-image:url(assets/img/home_pizza_about_bg.jpg); background-repeat:no-repeat; background-position:center top;">
  <div class="section_wrapper mcb-section-inner">
    <div class="wrap mcb-wrap one  valign-top clearfix" style="">
      <div class="mcb-wrap-inner">
        <div class="column mcb-column one-second column_column  column-margin-">
          <div class="column_attr clearfix animate fadeInLeft">
            <img class="scale-with-grid" style="margin-bottom: 30px;" src="assets/img/home_pizza_10_years.png" alt="">
              <div>
                <div class="col-md-5">
                  <p class="big" >Same great taste, same great food, same great service, and same great family atmosphere for the past 40 years!</p>
                  <p class="big" >The current owner had been a patron of the restaurant for 25 plus years. In 2002 he heard that the original owner was planning on retiring. Knowing this was a dream of his he decided to purchase the business. The previous owner stayed on board to teach him everything about the business, including food, ingredients, and preparation techniques for all the dishes on the menu. All the sauces, dough, lasagna, ziti, etc are homemade the same way they have been for the past 40 years.</p>
                  <a class="button  button_left button_large button_theme button_js kill_the_icon" href="/menu"><span class="button_icon"><i class="icon-heart-fa"></i></span><span class="button_label">Explore Our Menu</span></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- slider list -->

<!-- Start Sellection -->
<!-- main app container -->
